body {
  display: flex;
  height: 100vh;
  font-family: Garamond, serif;
}

#container {
  display: grid;
  grid-template: 150px 400px / 1fr;
  margin: auto;
  height: 550px;
  width: 450px;
  border: 3px solid black;
  background-color: #BBBBBB;
}

#title {
  font-size: 4rem;
  place-self: center;
}

#board {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  margin: 0px 38px 42px 38px;
  width: 332px;
  border: 3px solid black;
  background-color: white;
}

.tileContainer {
  border: 1px solid black;
  font-size: 3rem;
  user-select: none;
}

.tile {
  height: 100%;
  display: grid;
  place-items: center;
}

.fadein {
  animation: fadein 1s forwards;
}

.error {
  animation: error 1s backwards;
}

.victory {
  animation: victory 0.4s 6 alternate;
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 100
  }

}

@keyframes error {
  from {
    background-color: red;
  }

  to {
    background-color: white;
  }

}

@keyframes victory {
  from {
    background-color: white;
  }

  to {
    background-color: greenyellow;
  }

}